body {
  font-family: "nanumsquare";
  display: flex;
  flex-direction: column;
  margin: 0;
}
.black-nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  /*navbar 각 메뉴들을 떨어질 수 있도록*/
}

.navbarMenus {
  display: flex;
  width: 30%;
  flex-wrap: nowrap;
}
.navbarMenu {
  width: 30%;
  margin: 0;
  color: white;
  text-decoration: none;
  align-content: center;
  text-align: center;
}

.navbarMenu:hover {
  background-color: darkgrey;
}
.sites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}
.sites p {
  text-align: center;
  color: black;
}
.sites img {
  background-color: white;
  width: 70%;
  max-height: 100%;
}

.imgbox {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
